<div *ngIf="data">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="card" *ngFor="let movie of data.items; let idx = index" style="width: 18rem;">
          <img class="card-img-top" src="{{movie.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{movie.name}}</h5>
            <p class="card-text">{{movie.excerpt}}</p>
            <p class="card-text">${{movie.price}}</p>
            <a href="#" class="btn btn-primary" (click) ="addToCart(event, movie)">Agregar</a>            
          </div>
        </div>
      </div>
    </div>
</div>
<a href="#" class="btn btn-primary" (click) ="nextStation(event)">Siguiente Estación</a>
